<div class="row">
  <button type="button" class="btn btn-primary my-1" (click)="consumeEndpoint()">get Array!</button>
  <button type="button" class="btn btn-primary my-1 ml-1" (click)="consumeEndpoint2()">get Dictado!</button>
  <ng-container *ngIf="!!detalle && !!detalle.success">
    <h3>Respuesta exitosa!</h3>
  </ng-container>
</div>
<div class="row" *ngIf="mostrarArray == 'array'">

  <table class="table table-responsive-sm m-1 m-sm-0">
    <thead class="thead-dark">
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Number</th>
        <th scope="col">Quantity</th>
        <th scope="col">First Pos</th>
        <th scope="col">Last Pos</th>
      </tr>
    </thead>
    <tbody *ngIf="!!detalle && detalle.data != null">
      <tr *ngFor="let item of filteredDetalle" class="{{item.color}}">
        <th scope=" row">{{item.indice+1}}</th>
        <td>{{item.numero}}</td>
        <!-- cantidad -->
        <td>{{item.ocurrencias}}</td>
        <!-- firtspost index -->
        <td>{{item.fpos}}</td>
        <!-- last index -->
        <td>{{item.lpos}}</td>
      </tr>
    </tbody>
  </table>
  <div class="input-group mb-3">
    <input class="my-1 w-100" type="text" value="{{ordenado}}" />
  </div>
</div>
<div class="row" *ngIf="mostrarArray == 'dictado'">
  <table class="table  m-1 m-sm-0">
    <thead class="thead-dark">
      <tr>
        <th scope="col">N°</th>
        <th *ngFor="let h of cabeceras">{{h}}</th>
        <th scope="col">Suma numeros</th>
      </tr>
    </thead>
    <tbody *ngIf="!!detalle && detalle.data != null">
      <tr *ngFor="let parrafo of this.filteredDictado" data-toggle="tooltip" data-placement="bottom"
        title="{{parrafo.parrafo}}">
        <td>{{parrafo.indice+1}}</td>
        <td *ngFor="let abc of parrafo.abc">{{abc}}</td>

      </tr>
    </tbody>
  </table>
</div>
